body {
	/*background-image: url("pexels-photo-1308624.jpeg");*/
	background-color: #000;
	background-size: cover;
	font-family: Lucida Sans;

}

.inputBox {
	background-image: linear-gradient(#23074d, #cc5333);
	width: 340px;
	height: 530px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px 30px;
	color: #fff;
	font-size: 29px;
}

.inputBox p {
	text-align: center;
}

.inputBox input[type="text"] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #23074d;
	height: 40px;
	width: 90%;
	margin-top: 60px;
	margin-left: 20px;
	margin-bottom: 20px;
	outline: none;
	color: #fff;
	text-align: center;
}

.inputBox button {
	background-color: #23074d;
	width: 264px;
	height: 35px;
	border: none;
	color: #cc5333;
	font-size: 22px;
	font-family: Agency FB;
	border-radius: 2px;
	margin-top: 80px;
	margin-left: 10px;
	outline: none;
}

.inputBox button:hover {
	color: #fff;
}
