
body>div{
    width: 100vw;
    height: 100vh;
    transition: background 1s;
    background: linear-gradient(#c6cbc7,#060606);
    animation: coverBack 20s infinite;

}

@keyframes coverBack {
    0%{background: linear-gradient(#c6cbc7,#060606);}
    10%{background: linear-gradient(#36496b,#2e444b);}
    20%{background: linear-gradient(#d4c9c1,#e5e2dd);}
    30%{background: linear-gradient(#00192d,#70e1cf);}
    40%{background: linear-gradient(#ff4d4d,#181849);}
    50%{background: linear-gradient(#ebe5cd,#995a2e);}
    60%{background: linear-gradient(#760279,#172b5b);}
    70%{background: linear-gradient(#dfdfdf,#f6cfc1);}
    80%{background: linear-gradient(#93070f,#640e8e);}
    90%{background: linear-gradient(#8a8780,#141414);}
    100%{background: linear-gradient(#222222,#71c449);}
}

body>div>:nth-child(1){
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body>div>:nth-child(1)>:nth-child(1){
    display: flex;
    animation: slider 20s infinite;
}

@keyframes slider {
    0%{transform: translateX(0%)}
    10%{transform: translateX(-100%)}
    20%{transform: translateX(-200%)}
    30%{transform: translateX(-300%)}
    40%{transform: translateX(-400%)}
    50%{transform: translateX(-500%)}
    60%{transform: translateX(-600%)}
    70%{transform: translateX(-700%)}
    80%{transform: translateX(-800%)}
    90%{transform: translateX(-900%)}
    100%{transform: translateX(-1000%)}
}