
body {
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1A73E8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FBBC05;
}

header::-webkit-scrollbar {
    height: 5px;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url("../../assets/fonts/AvenirLTStd-Black.otf");
    src: url("../../assets/fonts/AvenirLTStd-Book.otf");
    src: url("../../assets/fonts/AvenirLTStd-Roman.otf");
}

header {
    top: 0;
    width: 100%;
    height: 45px;
    background: black;
    filter: opacity(85%);
    color: black;
    position: fixed;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    filter: opacity(85%);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .31);
    overflow-x: auto;
}

header > ul {
    width: max-content;
    position: absolute;
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

header > ul > li {
    width: 100px;
    position: relative;
    padding: 12px 0 0 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-bottom: 2px solid black;
}

header > ul > li > a {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#darkTheme {
    color: black;
    text-decoration: none;
}

#darkTheme:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


body > :nth-child(1) {
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    background: white;
    bottom: 50px;
    right: 50px;
    overflow: hidden;
}

body > :nth-child(1) > h4 {
    margin: 15px 0 0 0;
    width: 180px;
    padding: 0;
    font-family: Roboto;
    font-weight: normal;
    position: absolute;
    right: 50px;
    color: white;
}

body > :nth-child(1):hover {
    border-radius: 40px;
    width: 210px;
    transition: width .5s;
}

body > :nth-child(1):hover h4 {
    right: 20px;
    color: black;
    transition: all .5s;
}

body > :nth-child(1) > i {
    position: absolute;
    top: 10px;
    font-size: 30px;
    right: 10px;
    margin: auto;
}

main {
    position: relative;
    width: 100%;
    top: 45px;
    height: max-content;
    background: #1B1B1B;
    font-family: 'Noticia Text', serif;
}


main > h3:nth-child(1) { /*welcome*/
    width: 100%;
    position: relative;
    top: 25px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 34px;
    font-weight: normal;
    text-align: center;
}

main > section:nth-child(2) { /*section profile pic*/
    text-align: center;
    height: max-content;
}

main > :nth-child(2) > div { /*section profile pic*/
    width: 15vw;
    height: max-content;
    position: relative;
    display: inline-block;
}

.proPic { /*div profile pic*/
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    text-align: left;
    top: 10px;
    padding-top: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .45);
    transition: all .4s;
}

.proPic > img:hover {
    margin-top: 5%;
    transform: scale(1.1);
    transition: all .4s;
}

.proPic > canvas { /*pic profile pic*/
    position: absolute !important;
    top: 0px !important;
    /*transition: all .4s;*/
}


main > section:nth-child(3) > h1 {
    position: relative;
    top: 12px;
    color: #1A73E8;
    text-align: center;
    font-family: "Avenir LT Std";
    overflow: hidden;
}


main > section:nth-child(3) > h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #707070;
}

main > :nth-child(4) {
    width: 100%;
    height: 40px;
    position: relative;
}

main > :nth-child(4) > a {
    width: 50px;
    height: 50px;
    background: #333333;
    color: #333333;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20%;
    font-size: 30px;
    position: absolute;
    top: -55px;
    margin-top: 40px;
    transition: margin-top 1s, color 1s;
    animation: mainSocial 5s infinite;
}

@keyframes mainSocial {
    0% {
    }
    50% {
        margin-top: 25px;
        color: rgba(251, 188, 5, 0.16);
    }
    100% {
    }
}

main > :nth-child(4) > a:hover {
    animation: unset;
    margin-top: 0;
    color: #FBBC05;
    transition: margin-top 1s, color 1s;
}

main > :nth-child(4) > :nth-child(1) {
    left: 20px;
    animation-delay: calc(2s / 5 * 1);
}

main > :nth-child(4) > :nth-child(2) {
    left: 100px;
    animation-delay: calc(2s / 5 * 2);
}

main > :nth-child(4) > :nth-child(3) {
    left: 180px;
    animation-delay: calc(2s / 5 * 3);
}

main > :nth-child(4) > :nth-child(4) {
    left: 260px;
    animation-delay: calc(2s / 5 * 4);
}

main > :nth-child(4) > :nth-child(5) {
    left: 340px;
    animation-delay: calc(2s / 5 * 5);
}


main > section:nth-child(5) {
    width: 100%;
    height: 250px;
    position: relative;
    top: -40px;
    background: #160f30; /* section dark */
}

#particles-js > canvas {
    position: absolute;
    top: 0;
}

main > section:nth-child(5) > h2 { /* section Its me */
    text-align: center;
    margin: 0;
    position: relative;
    color: #FBBC05;
    top: 32px;
    font-family: 'Roboto', sans-serif;
}

main > section:nth-child(5) > h4 { /* section para(h4) */
    width: 50%;
    position: relative;
    left: 25%;
    top: 30px;
    color: #eeeeee;
    font-family: "Avenir LT Std";
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

main > section:nth-child(5) > h4:first-letter {
    font-size: 25px;
    color: #FBBC05;
}

main > section:nth-child(5) > div { /* section arrowdown */
    position: relative;
    width: 3%;
    height: auto;
    left: 48.5%;
    top: 10%;
}

main > section:nth-child(5) > div > img { /* arrow img */
    animation: updown 1.5s infinite;
}

@keyframes updown {
    50% {
        margin-top: 20px
    }
    100% {
        margin-top: 0
    }
}

.backAbout {
    width: 100%;
    height: 60px;
    position: relative;
    background: #393e46;
}

#About {
    height: 596px;
}


#About > :nth-child(1) { /*h3 about*/
    text-align: center;
    position: relative;
    top: -40px;
    color: #FFFFFF;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
}

#About > :nth-child(2) {
    position: relative;
    top: -20px;
}

#About > :nth-child(2) > div {
    position: absolute;
    width: 30%;
    height: 2px;
    background: #474747;
}

#About > :nth-child(2) > h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    margin: 0;
    position: relative;
    top: -10px;
}

#About > :nth-child(2) > :nth-child(1) { /*1 horizontal lines*/
    left: 5%;
    top: 10.5%;
}

#About > :nth-child(2) > :nth-child(3) { /*2 horizontal lines*/
    right: 5%;
    top: 10.5%;
}

#About > :nth-child(3) { /*   section education   */
    position: relative;
    height: 350px;
}

#About > :nth-child(3) > article {
    text-align: center;
    width: 30%;
    position: absolute;
    height: max-content;
}

#About > :nth-child(3) > article > h5 {
    margin: 0 0 5px 0;
}

#About > :nth-child(3) > :nth-child(1) { /*   article ashoka   */
    position: absolute;
    left: 15%;
    font-family: 'Righteous', cursive;
}

#About > :nth-child(3) > :nth-child(1) > h5 {
    color: #7e7e7e;
    font-family: 'Overlock', cursive;
}


#About > :nth-child(3) > :nth-child(2) { /*   article ijse   */
    position: absolute;
    right: 18%;
    top: 100px;
    font-family: 'Righteous', cursive;
}

#About > :nth-child(3) > :nth-child(2) > h5 {
    color: #7e7e7e;
    font-family: 'Overlock', cursive;
}


#About > :nth-child(3) > :nth-child(2) > img {
    position: relative;
    left: 38%;
    top: 20px;
    transform: rotate(15deg);
}

#About > :nth-child(4) { /*div working*/
    text-align: center;
    font-family: 'Righteous', cursive;
    position: relative;
}

#About > :nth-child(4) > div {
    position: absolute;
    width: 30%;
    height: 2px;
    background: #474747;
    top: 42.5%;
}

#About > :nth-child(4) > :nth-child(1) { /*1 horizontal lines*/
    left: 5%;
}

#About > :nth-child(4) > :nth-child(3) { /*2 horizontal lines*/
    right: 5%;
}

/*================================================== working zone =======================================================*/
#About > :nth-child(5) {
    position: relative;
    height: 100px;
}

/*================================================== working zone =======================================================*/


#Skills {
    position: relative;
    height: 230px;
}

#Skills > h3 {
    text-align: center;
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    top: -40px;
    margin-bottom: 0;
    font-size: 25px;
}


#Skills > :nth-child(3) {
    height: 170px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}

#Skills > :nth-child(3) > div {
    text-align: center;
    position: relative;
}

#Skills > :nth-child(3) > div > :nth-child(1) {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 2;
    border-top: 3px solid #1A73E8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*animation: skills 3s infinite;*/
}

@keyframes skills {
    100% {
        transform: rotate(360deg)
    }
}

#Skills > :nth-child(3) > div > :nth-child(1):hover {
    border-top-color: white;
    animation: skills 1s infinite;
}

#Skills > :nth-child(3) > div > :nth-child(2) {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #4a4a4a;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#Skills > :nth-child(3) > div > div > img {
    margin-top: 20%;
}

#Skills > :nth-child(3) > div > div:before {
    width: 20px;
    height: 20px;
    position: absolute;
    background: black;
}


#Assignments {
    position: relative;
    height: 350px;
}

#Assignments > h3 {
    text-align: center;
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    top: -40px;
    font-size: 25px;
}

#Assignments > :nth-child(2) {
    position: absolute;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#Assignments > :nth-child(2) > div {
    width: 100%;
    position: relative;
}

#Assignments > :nth-child(2) > div > div {
    position: absolute;
    width: 75%;
    height: 150px;
    border-radius: 20px;
    /*background: #838383;*/
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.47);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#Assignments > :nth-child(2) > :nth-child(2) > div > img {
    top: 20px;
}

#Assignments > :nth-child(2) > div > div > p > a {
    color: #1A73E8;
    font-weight: normal;
    font-family: "Roboto";
}

#Assignments > :nth-child(2) > div > div > :nth-child(2) {
    position: relative;
    top: 25px;
    left: 15px;
    font-family: 'Overlock', cursive;
    display: inline;
}

#Assignments > :nth-child(2) > div > div > :nth-child(3) {
    position: relative;
    top: 5px;
    font-family: 'Overlock', cursive;
    left: 15px;
}

#Assignments > :nth-child(2) > div > div > img {
    position: absolute;
    right: 30px;
    top: 10px;
    transform: translateZ(25px)
}

#Assignments > :nth-child(2) > :nth-child(2) > img {
    top: 50px;
}

#Assignments > :nth-child(2) > div > div > p {
    position: absolute;
    bottom: 0px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    color: #707070;
}

#Project {
    position: relative;
    height: 400px;
}

#Project > h3 {
    text-align: center;
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    top: -40px;
    font-size: 25px;
}

#Project > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: max-content;
    grid-gap: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#Project > :nth-child(2) > article > div {
    position: relative;
    width: 210px;
    height: 330px;
    padding: 40px;
    padding-top: 30px;
    background: black;
    color: white;
    /*box-shadow: 0 5px 15px rgba(0,0,0,.1);*/
    box-shadow: 1px 1px 4px #00000078;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

#Project > :nth-child(2) > article > div .icon {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    background: black;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

#Project > :nth-child(2) > article > div:nth-child(1) > .icon {
    box-shadow: 0 0 0 0 #1A73E8;
    background: #1A73E8;
    font-family: 'Teko', sans-serif;
}

#Project > :nth-child(2) > article > div:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #1A73E8;
}

#Project > :nth-child(2) > :nth-child(even) > div:nth-child(1) > .icon {
    box-shadow: 0 0 0 0 #FBBC05;
    background: #FBBC05;
}

#Project > :nth-child(2) > :nth-child(even) > div:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #FBBC05;
}

#Project > :nth-child(2) > article > div .content {
    position: relative;
    z-index: 1;
    font-family: 'Overlock', cursive;
    transition: 0.5s;
}

#Project > :nth-child(2) > article > div .content > p {
    color: #d0d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    transition: 0.5s;
}

#Project > :nth-child(2) > article > div:nth-child(1):hover .content {
    color: black;
}

#Project > :nth-child(2) > article > div:nth-child(1):hover .content > p {
    color: black;
    font-weight: bold;
    transition: .5s;
}

#Project > :nth-child(2) > article > div > :nth-child(2) > a {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Avenir LT Std";
    color: #000;
    font-weight: normal;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

#Project > :nth-child(2) > article > div:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
}


#Contact {
    position: relative;
    height: 320px;
}

#Contact > h3 {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    top: -40px;
    font-size: 25px;
}

#Contact > :nth-child(2) {
    position: absolute;
    top: 7%;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

#Contact > :nth-child(2) > div {
    position: relative;
    display: inline;
}

#Contact > :nth-child(2) > div > a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 80%;
    box-shadow: 0 4px 10px #00000070;
    color: #1A73E8;
    overflow: hidden;
    position: relative;
}

#Contact > :nth-child(2) > div > a > i {
    line-height: 58px;
    font-size: 18px;
    transition: 0.2s linear;
}

#Contact > :nth-child(2) > div > a:hover i {
    transform: scale(1.3);
    color: #000000;
}

#Contact > :nth-child(2) > div > a::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #FBBC05;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

#Contact > :nth-child(2) > div > a:hover::before {
    animation: social 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes social {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

#Contact > :nth-child(3) {
    width: 100%;
    height: max-content;
    position: relative;
    top: 130px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    /*background-color: #FBBC05;*/
    display: inline-block;
}


#Contact > :nth-child(3) > h3 {
    margin: 10px 0 0 0;
    cursor: default;
}

#Contact > :nth-child(3) > h4 {
    margin: 5px 0 0 0;
    cursor: pointer;
}

footer {
    position: relative;
    height: 25px;
    top: 40px;
    background: black;
}

footer > h5 {
    margin: 0;
    text-align: center;
    top: 4px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
