
@media all and (max-width: 425px){


    main>section:nth-child(2){
        position: relative;
        height: 120px;
        width: 100%;
    }

    main >:nth-child(2)>div { /*section profile pic*/
        width: 130px;
        top: 10px;
    }

    .proPic{
        position: relative;
        width: 130px;
        height: 130px;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    main > section:nth-child(5) {
        width: 100%;
        height: 325px;
        position: relative;
        top: 20px;
        background: #333333;
    }



    main>:nth-child(4){
        top: 60px;
    }

    main>:nth-child(4)>:nth-child(1){left: 2%;}
    main>:nth-child(4)>:nth-child(2){left: 22%;}
    main>:nth-child(4)>:nth-child(3){left: 45%;}
    main>:nth-child(4)>:nth-child(4){left: 65%;}
    main>:nth-child(4)>:nth-child(5){left: 85%;}

    main>section:nth-child(5)>div{           /* section arrowdown */
        position: relative;
        width: 3%;
        height: auto;
        left: 48.5%;
        top: 7%;
    }

    main>section:nth-child(5)>div>img {             /* arrow img */
        animation: none;
    }


    #About > :nth-child(2) > div {
        display: none;
    }
    #About > :nth-child(4) > div {
        display: none;
    }

    #About > :nth-child(3){
        height: max-content;
        margin-bottom: 40px;
    }

    #About > :nth-child(3) > :nth-child(1){
        width: 100vw;
        left: 0;
        position: relative;
    }

    #About > :nth-child(3) > :nth-child(2){
        width: 100%;
        position: relative;
        right: 0;
        top: 15px;
    }

    #About > :nth-child(3) > :nth-child(2)>img{
        left: 0;
        top: 20%;
        transform: rotate(0);
    }

    #Skills{
        height: 580px;
    }

    #Skills>:nth-child(3) {
        grid-template-columns: repeat(2,1fr);
        height: 550px;
    }

    #Skills>:nth-child(3)>div>div {
        width: 120px;
        height: 120px;
    }

    #Assignments{
        height: 1350px;
    }

    #Assignments>:nth-child(2){
        position: absolute;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(1,1fr);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #Assignments>:nth-child(2)>div>img{
        width: 40px;
    }


    #Project{
        height: 2150px;
    }

    #Project>:nth-child(2){
        position: absolute;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(1,1fr);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #Project>:nth-child(2)>div>img{
        width: 40px;
    }

    #Contact{
        height: 380px;
    }

    #Contact>:nth-child(2){
        grid-template-columns: repeat(4,1fr);
        top: 0;
    }


    #Contact>:nth-child(3) {
        width: 100%;
        height: max-content;
        position: relative;
        top: 185px;
        text-align: center;
        font-family: 'Ubuntu Condensed', sans-serif;
        /* background-color: #FBBC05; */
        display: inline-block;
    }
}