

@media all and (max-width: 1380px){

    #Project {
        height: 770px;
    }

    #Project>:nth-child(2){
        grid-template-columns: repeat(4,1fr);
    }

}

@media all and (max-width: 910px){
    #Project>:nth-child(2){
        grid-template-columns: repeat(3,1fr);
    }
}